/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
* {
  background: white;
}
.buscador {
  width: 800px;
  height: 250px;
  border-radius: 10px;
  padding-left: 90px;
}
#buscador-tope {
  width: 800px;
  height: 225px;
}
.boton-iniciar {
  border: 1px #20c997 solid;
  border-radius: 8px;
  color: #20c997;
}
.boton-registrate {
  border: 1px #20c997 solid;
  border-radius: 8px;
  background-color: #20c997;
  color: white;
}
.boton-cuidador {
  border: 1px #20c997 solid;
  border-radius: 16px;
  background-color: #20c997;
  color: white;
}
.bg-login {
  background-image: url(https://res.cloudinary.com/dz8eyr7mb/image/upload/v1666830709/Animalium/img-login_iqzhxq.png);
  background-size: cover;
}

.bg-registro {
  background-image: url(https://res.cloudinary.com/dz8eyr7mb/image/upload/v1666915987/Animalium/img-registro-cliente_tfm7cq.png);
  background-size: cover;
}

.bg-hero {
  background-image: url(https://res.cloudinary.com/dpihypqmp/image/upload/v1667143746/samples/image_3_qd4i42.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.bg-patitas {
  background-image: url(https://res.cloudinary.com/dz8eyr7mb/image/upload/v1666841209/Animalium/bg-patitas_pptcob.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.bg-cuidador {
  background-image: url(https://res.cloudinary.com/dz8eyr7mb/image/upload/v1666841610/img-registro-cuidadores_hwn2yw.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.bg-footer {
  background-image: url(https://res.cloudinary.com/dz8eyr7mb/image/upload/v1667070083/Animalium/Footer_er2mr0.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 570px;
}
