/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
* {
  background: white;

  font-family: "Josefin Sans";
}
.button:hover {
  background: #623cea;
}
.modal {
  background-color: transparent;
}
.buscador {
  width: 800px;
  height: 250px;
  border-radius: 10px;
  padding-left: 90px;
  margin-top: 111px;
  box-shadow: 0px 4px 8px rgba(51, 51, 51, 0.2);
}
#buscador-tope {
  width: 800px;
  height: 225px;
  padding-top: 30px;
}

.boton-iniciar {
  border: 1px #20c997 solid;
  border-radius: 8px;
  color: #20c997;
}
.boton-registrate {
  border: 1px #20c997 solid;
  border-radius: 8px;
  background-color: #20c997;
  color: white;
}
.boton-cuidador {
  border: 1px #20c997 solid;
  border-radius: 16px;
  background-color: #20c997;
  color: white;
}
.bg-login {
  background-image: url(https://res.cloudinary.com/dz8eyr7mb/image/upload/v1666830709/Animalium/img-login_iqzhxq.png);
  background-size: cover;
}

.bg-registro {
  background-image: url(https://res.cloudinary.com/dz8eyr7mb/image/upload/v1666915987/Animalium/img-registro-cliente_tfm7cq.png);
  background-size: cover;
}

.bg-hero {
  background-image: url(https://res.cloudinary.com/dz8eyr7mb/image/upload/v1667164691/Animalium/bg-hero_h4muqf.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 595px;
}
.bg-hero-cuidadores {
  background-image: url(https://res.cloudinary.com/dz8eyr7mb/image/upload/v1667241020/Animalium/hero-cuidadores_srkiux.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 595px;
}
.bg-hero-hcuidadores {
  background-image: url(https://res.cloudinary.com/dz8eyr7mb/image/upload/v1667240910/Animalium/Hero-Hazte-cuidador_ictwol.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  height: 595px;
}

.bg-patitas {
  background-image: url(https://res.cloudinary.com/dz8eyr7mb/image/upload/v1666841209/Animalium/bg-patitas_pptcob.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.bg-registro-cuidador {
  background-image: url(https://res.cloudinary.com/dz8eyr7mb/image/upload/v1667154603/Animalium/img-registro-cuidador_kdxokh.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.bg-footer {
  background-image: url(https://res.cloudinary.com/dz8eyr7mb/image/upload/v1667070083/Animalium/Footer_er2mr0.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 600px;
}

.bg-card-reserve {
  background-image: url(https://res.cloudinary.com/dz8eyr7mb/image/upload/v1667163377/Animalium/bg-section-1_i4qrg0.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.bg-mejores {
  background-image: url(https://res.cloudinary.com/dz8eyr7mb/image/upload/v1667165729/Animalium/bg-secton-2_f5nhvx.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 600px;
}

.bg-pasos {
  background-image: url(https://res.cloudinary.com/dz8eyr7mb/image/upload/v1667166167/Animalium/bg-section-3_j1fytg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  height: 550px;
}
.bg-pasos-cuidador {
  background-image: url(https://res.cloudinary.com/dz8eyr7mb/image/upload/c_pad,b_auto:predominant,fl_preserve_transparency/v1667881446/Animalium/Cuidadores-1_ur9h5k.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/*Abajo viene css hecho por Cesar 30/10/2022*/

/*Seccion Carousel Resenas Clientes*/

.checked {
  color: #f49e4c;
}

.img1 {
  border-radius: 100%;
  max-width: 72px;
  height: 72px;
}

#span {
  padding: 6px;
}

#p {
  font-family: "Nunito", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.2px;
  color: #424242;
}

#h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  letter-spacing: 0.2px;
  color: #212121;
}

#h6 {
  padding: 10px;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #343a40;
}

#card {
  margin: 50px;
  width: 450px;
}

/*Seccion Cuidadores*/

#cardcuidador {
  margin: 25px;
  width: 305px;
  height: 360px;
  border-radius: 10px;
  padding: 0px;
  filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}

#h6cuidador {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #343a40;
}

#pcuidador {
  font-family: "Nunito";
  font-size: 14px;
  color: #212529;
}

#pcuidadorlocation {
  margin: 0px;
  font-family: "Nunito";
  font-size: 14px;
  color: #212529;
}

#locationcuidador {
  padding: 5px;
  padding-left: 0px;
}

#certificadohuella {
  padding: 14px;
}

#prating {
  font-family: "Nunito";
  font-size: 12px;
  color: #212529;
}

#pcuidador1 {
  text-align: center;
  width: 650px;
  font-family: "Nunito", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.2px;
  color: #424242;
}

/*Seccion Reserva*/

#preserva {
  width: 400px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.2px;
  color: #424242;
}

#cardreserva {
  border: none;
  margin-left: 270px;
  margin-bottom: 70px;
}

#btnreserva {
  background: #20c997;
  border: 1px solid #28fcbd;
  border-radius: 16px;
  padding: 8px 16px;
  gap: 8px;
  width: 324px;
  height: 48px;
  margin-left: 35px;
}

#h1reserva {
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  letter-spacing: 0.2px;
  color: #212121;
  width: 450px;
  margin-left: 35px;
}

#pbtnreserva {
  width: 150px;
  height: 30px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
}

#gifhuella {
  width: 37px;
  height: 37px;
  padding: 0px;
}

#gifhuella1 {
  width: 37px;
  height: 37px;
  padding: 0px;
}

/*Seccion Paso*/

#h1paso {
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  letter-spacing: 0.2px;
  color: #212121;
  margin-bottom: 0px;
}

#ppaso1 {
  text-align: center;
  width: 800px;
  font-family: "Nunito", sans-serif;
  padding-top: 20px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.2px;
  color: #424242;
}

#cardpaso {
  margin: 30px;
  margin-top: 110px;
  border-radius: 10px;
  padding: 0px;
  width: 330px;
  height: 310px;
}

#cardpaso2 {
  margin: 30px;
  margin-top: 50px;
  border-radius: 10px;
  padding: 0px;
  width: 330px;
  height: 310px;
}

#ppaso {
  font-family: "Nunito";
  font-size: 16px;
  line-height: 145%;
  text-align: center;
  color: #212529;
}

#h5paso {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #212529;
}

#imgpaso {
  width: 54px;
  height: 54px;
  margin: 16px;
}

#imgcuidador {
  width: 302px;
  height: 185px;
}

#cardbodypaso {
  /* Arriba | Derecha | Abajo | Izquierda */
  padding: 24px 30px 32px 30px;
  border-radius: 10px;
}
.card-body {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#line {
  width: 2px;
  background-color: lightgrey !important;
}

#lead {
  font-family: "Nunito";
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.4px;
  color: rgba(0, 0, 0, 0.87);
}

#circle {
  width: 48px;
  height: 48px;
  background: #623cea;
  text-align: center;
  font-family: "Nunito";
  font-weight: 700;
  font-size: 32px;
  line-height: 166%;
  letter-spacing: 0.4px;
}

#h5stepper {
  font-family: "Josefin Sans";
  font-weight: 500;
  font-size: 24px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.87);
  margin: 0px;
}

#steppericon {
  margin-left: 270px;
}

#infostepper {
  margin-left: 20px;
}
#cardprofile {
  width: 300px;
  height: 500px;
  box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.2);
  border-radius: 20px;
  margin-left: 100px;
  margin-right: 70px;
}
#imgprofile {
  border-radius: 999px;
  width: 108px;
  height: 108px;
  margin: 30px;
}

/*Css de Joan vista perfil*/
body {
  background: rgb(99, 39, 120);
}

.profile-button {
  background: #20c997;
  box-shadow: none;
  border: none;
  border-radius: 16px;
  width: 235px;
}
.profile-button:hover {
  background: #20c997;
}
.profile-button:focus {
  background: #20c997;
  box-shadow: none;
}
.profile-button:active {
  background: #20c997;
  box-shadow: none;
}
.back:hover {
  color: #20c997;
  cursor: pointer;
}
.labels {
  font-size: 11px;
}
.add-experience:hover {
  background: #20c997;
  color: #fff;
  cursor: pointer;
  border: solid 1px #20c997;
}

/*Css del boton para cargar imagenes en el profile*/
.file input {
  display: none;
}

.file label {
  display: block;
  align-items: center;
  padding: 40px 8px;

  width: 181px;
  height: 134px;

  background: #f8f9fa;
  border: 1px dashed #adb5bd;
  border-radius: 2px;
  cursor: pointer;
}

#labelarchivo {
  font-family: "Nunito";
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #6c757d;
  padding: 17px;
}

#plusicon {
  margin-top: 27px;
  font-size: 14px;
}

#archivolabel {
  padding: 0px;
}

/*Css del boton del navbar cuando hay una sesión activa"*/

#dropdownMenuButton1 {
  border: none;
  text-align: center;
}

.boton-profile-navbar.btn:focus {
  border-color: transparent;
  box-shadow: none;
}

.boton-profile-navbar.dropdown-toggle::after {
  display: none;
}
